---
layout: archive
author_profile: true
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].welcom_to_my_website | default: "Welcome to my website" }}</h3>

I am a first year PhD Candidate at <a href="https://www.insa-lyon.fr"><B>INSA Lyon</B></a> and I am working in the <a href="https://liris.cnrs.fr/?set_language=fr"><B>LIRIS</B> lab</a> (Imagine team).
My research focuses on machine learning and computer vision. I am particulary interested in action recognition in video.
My PhD topic is "<I>Deep learning for human understanding: gestures, activities, poses</I>". I have a funding from the ANR/NSERC project "Deep Vision".
I am supervised by <a href="http://liris.cnrs.fr/christian.wolf/"><B>Christian Wolf</B></a> and <a href="http://liris.cnrs.fr/julien.mille/"><B>Julien Mille</B></a>.
<br /> <br />
I received (soon) an Engineer's degree from <a href="http://www.ensai.fr/academics/third-year/data-science-specialization.html"><B>ENSAI</B><a/> with a major in <I>Big Data - Data Science</I>. I also have a Bachelor's degree in Economics from Paris Dauphine University and a Bachelor's degree in Applied Mathematics from Grenoble Alpes University.
I did a 6 months internship at <a href="http://www.xrce.xerox.com/"><B>Xerox Research Centre Europe</B><a/> in Grenoble where I worked in <I>Unsupervised Domain Adaptation</I> for object recognition under the supervision of <a href="http://www.xrce.xerox.com/About-XRCE/People/Boris-Chidlovskii">Boris Chidlovskii<a/> and <a href="http://www.xrce.xerox.com/About-XRCE/People/Gabriela-Csurka">Gabriela Csurka<a/>.


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
