---
layout: archive
author_profile: true
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].welcom_to_my_website | default: "Welcome to my website" }}</h3>

I am Fabien, a first year PhD Candidate at <a href="https://www.insa-lyon.fr">ENSAI Lyon</a> and I belong to the <a href="https://liris.cnrs.fr/?set_language=fr">LIRIS lab</a>.
My research focuses on machine learning and computer vision.
I am supervised by <a href="http://liris.cnrs.fr/christian.wolf/">Christian Wolf</a> and <a href="http://liris.cnrs.fr/julien.mille/">Julien Mille</a>.
<br /> <br />

Check out <a href="https://fabienbaradel.github.io/about/">about me</a> for more information.

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
