---
layout: archive
author_profile: true
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].welcom_to_my_website | default: "Welcome to my website" }}</h3>

I am Fabien, a first year PhD Candidate at ENSAI Lyon and I belong to the LIRIS lab. <br />
My research focuses on machine learning and computer vision. <br />
I am supervised by Christian Wolf and Julien Mille.
<br /> <br />

Check out about me for more information.

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
